<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Contact Rango</title>
	</head>
	<body>
        <p>
             <a href="/rango/"><img src="{% static "images/three-westies.jpg" %}"
                 alt="The Three Westies" /></a>
		</p>
		<h1>Contact Rango</h1>
		<p>
			Here's how you contact us:<br />
			<strong><em>{{ boldmessage }}</em></strong><br />
		</p>

        <img src="{{ MEDIA_URL }}janis-westie.jpg" />

        <div>
            <h3>Navigation</h3>

            <a href="/rango/">Home</a><br />
            <a href="/rango/about">About</a><br />
            <a href="/rango/links">Links</a><br />
            <a href="/rango/files">Files</a><br />
            <a href="/rango/add_category/">Add Category</a>
        </div>
	</body>
</html>