<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
	</head>
	<body>
        <p>
            <a href="/rango/"><img src="{% static "images/three-westies.jpg" %}"
                 alt="The Three Westies" /></a>
		</p>
		<h1>Downloadable files</h1>
		<p>
			Click on a file to download<br />
			<strong><em>{{ boldmessage }}</em></strong><br />
		</p>
        <img src="{{ MEDIA_URL }}janis-westie.jpg" />
		<p>
        <div>
            <h3>Navigation</h3>

            <a href="/rango/">Home</a><br />
			<a href="/rango/about">About</a><br />
            <a href="/rango/links">Links</a><br />
            <a href="/rango/contact">Contact</a><br />
            <a href="/rango/add_category/">Add Category</a>
        </div>
	</body>
</html>