<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango links</title>
	</head>
	<body>
        <p>
            <a href="/rango/"><img src="{% static "images/three-westies.jpg" %}"
                 alt="The Three Westies" /></a>
		</p>
		<h1>Some useful links</h1>
		<p>
			Some useful links<br />
			<strong><em>{{ boldmessage }}</em></strong><br />
		</p>
        <img src="{{ MEDIA_URL }}janis-westie.jpg" />
		<p>
            <a href="/rango/">Home</a><br />
			<a href="/rango/about">About</a><br />
            <a href="/rango/files">Files</a><br />
            <a href="/rango/contact">Contact</a>
        </p>
	</body>
</html>